body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-bottom: 6px;
    border-radius: 16px;
    background-color: lightgrey;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    width: 100%;
}

button {
    width: 90px;
    height: 90px;
    border: 1px solid darkgray;
    border-radius: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.highlight {
    background-color: red;
}